<h2>Soluble solids content  - non-treated apples & pH - non-treated apples</h2>

<br>
<strong>Select apple cultivar:</strong>
<br>
<%= form_tag('/apple/eq2') %>

<%= radio_button_tag(:sorta, value = "1", checked = true, options = {})  %>
<%= label_tag(:cultivars,'Idared') %>
<br>
<%= radio_button_tag(:sorta, value = "2", checked = false, options = {})  %>
<%= label_tag(:cultivars,'Golden Delicious') %>
<br>
<%= radio_button_tag(:sorta, value = "3", checked = false, options = {})  %>
<%= label_tag(:cultivars,'Gala') %>
<br>
<%= radio_button_tag(:sorta, value = "4", checked = false, options = {})  %>
<%= label_tag(:cultivars,'Gloster') %>
<br>
<%= radio_button_tag(:sorta, value = "5", checked = false, options = {})  %>
<%= label_tag(:cultivars,'Cripps Pink') %>
<br>
<%= radio_button_tag(:sorta, value = "6", checked = false, options = {})  %>
<%= label_tag(:cultivars,'Breaburn') %>
<br>
<%= radio_button_tag(:sorta, value = "7", checked = false, options = {})  %>
<%= label_tag(:cultivars,'Fuji') %>
<br>

----
<br>
<strong>Select formula:</strong><br>
<%= radio_button_tag(:formula, value = "2", checked = true, options = {})  %>
<%= label_tag(:formulas,'Soluble solids content  - non-treated apples') %>
<br>
<%= radio_button_tag(:formula, value = "3", checked = false, options = {})  %>
<%= label_tag(:formulas,'pH - non-treated apples') %>
<br>

---
<br>

<% unless @rezultat.nil? %>

<% if @formula == 2 %> 
	Soluble solids content: <br>
	<strong><div style="color:red">SSC = <%= number_with_precision @rezultat,:precision=>2  %> [°Bx] </div></strong>
<% else %>
	pH: <br>
	<strong><div style="color:red">pH = <%= number_with_precision @rezultat,:precision=>2  %> </div></strong>
<% end %>
<% end %>
<br>

<%= submit_tag('Calculate') %>

<br>
<small>
<br>
References:<br>
Yang, Y.M., J. Yu, N., (2012). Color Image Quality Assessment Based on CIEDE2000. Advances in Multimedia 2012, 1-7.<br>
<small>
