<head>
	<style type="text/css" media="screen">
		html, body, div, header, footer, aside, nav, article, section	{ margin: 0; padding: 0; }
		header, footer, aside, nav, article, section	{ display: block; }
		body 			{ color: #333; font: 12px Helvetica, Arial, sans-serif; line-height: 18px; }
		h2				{ color: #333; }
		a				{ color: #337810; }
		p				{ margin: 0 0 18px; }
		#wrapper		{ float: left; width: 100%; margin-left: -33%; }
		
		/* Header */
		header			{ background: #333; border-bottom: 2px solid #aaa; }
		header h1  	{ color: #fff; margin: 0 0 3px; padding: 24px 18px 0; }
		header p		{ color: #ccc; font-size: 11px; font-weight: bold; padding: 0 18px; }
		
		/* Content Style */
		nav		{ border-bottom: 1px solid #ccc; padding-right: 18px; }
		nav ul	{ padding: 0 18px 9px; }
		#extra			{ border-bottom: 1px solid #ccc; padding-right: 18px; }
		#extra small	{ font-size: 11px; line-height: 18px; }
		#content p, #extra p { padding-right: 18px; }
		
		/* Content Positioning and Size */
		nav		{ float: right; width: 30%; }
		#content		{ margin-left: 34.3%; }
		#extra			{ float: right; clear: right; width: 30%; }		/* Footer */
		footer			{ background: #666; border-bottom: 2px solid #aaa; clear: both; width: 100%; }
		footer a		{ color: #fff; }
		footer	p		{ color: #ccc; margin: 0; padding: 0 18px 10px; }
		footer ul		{ border-bottom: 1px solid #999; list-style: none; margin: 0 18px 6px; padding: 10px 0 6px; }
		footer li		{ display: inline; font-size: 11px; font-weight: bold; padding-right: 5px; }
	</style>
	<!--[if IE]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
</head>

<div id="container">
		<header>

			<h1>CAPPABLE</h1>
			<p class="description">Browning of treated apples over storage time
			   <%= link_to image_tag("home2.png", size: "63x63", :border=>"0", :align=>"right"), 'welcome', :alt=>"Home", :title=>"Home"%>
			</p>

		</header>
	<div id="wrapper">
	<section id="content">


<h2>Calculate &#916E<sup>*</sup><sub>ab</sub> from CIELab variables and storage time for selected apple cultivar</h2>

<br>
<strong>Select apple cultivar:</strong>
<br>

<%= form_tag('/apple/eq4') %>

<%= radio_button_tag(:sorta, value = "1", checked = true, options = {})  %>
<%= label_tag(:cultivars,'Golden Delicious') %>
<br>
<%= radio_button_tag(:sorta, value = "2", checked = false, options = {})  %>
<%= label_tag(:cultivars,'Cripps Pink') %>
<br>

<br>
<strong>Select anti-browning treatment:</strong>
<br>
<br>
<%= select_tag( :treatment,options_for_select(
[	["No treatment",1],
	["Ascorbic with citric acid",2],
	["Ascorbic acid with NaCl",3],
	["Ascorbic acid with CaCl2",4],
	["NaCl",5],
	["Citric acid",6],
	["Ca-ascorbate",7],
	["Ultrasound (1 min) with Ca-ascorbate",8],
	["Ultrasound (3 min) with Ca-ascorbate",9],
	["Ultrasound (1 min) ascorbic and citric acid",10],
	["Ultrasound (3 min) ascorbic and citric acid",11]
]),{})
%>
<br>
<br>
 
<table>
<tr>
<td><%= label_tag(:L,"L*") %></td>
<td><%= text_field_tag(:param_L) %></td>
</tr>
<tr>
<td><%= label_tag(:a,"a*") %></td>
<td><%= text_field_tag(:param_a) %></td>
</tr>
<tr>
<td><%= label_tag(:b,"b*") %></td>
<td><%= text_field_tag(:param_b) %></td>
</tr>
<tr>
<td><%= label_tag(:ST,"ST") %></td>
<td><%= text_field_tag(:param_ST) %> <%= label_tag(:ST_H,"[h]") %></td>
</tr>
</table>
<% unless @rezultat.nil? %>
<br>Color change is: 
<strong><div style="color:red">ΔE*ab = <%= number_with_precision @rezultat,:precision=>2  %> <small>(<%=@rezultat%>)</small></div></strong>

<% end %>
<br>
<br>
<%= submit_tag('Calculate') %>
</section>
</div>

<nav>			
	<h2><b>MODELS:</b></h2>
	<ul>
		<h4><b>NON-TREATED APPLES</b></h4>
		<li><a href="/apple/eq1">Browning (CIELab) over storage time</a></li>
		<li><a href="/apple/eq2">Soluble solids content</a></li>
		<li><a href="/apple/eq2">pH</a></li>			
		<h4><b>TREATED APPLES</b></h4>
		<li><a href="/apple/eq4">Browning (CIELab) over storage time</a></li>
		<li><a href="/apple/eq5">Sensory Evaluation</a></li>			
	</ul>
</nav>

<section id="extra">
			<h3>Subjective assessment of color difference by unaided average human eye:</h3>
			<p> &#916E<sup>*</sup><sub>ab</sub> < 0.5 color difference hardly noticeable <br>
				&#916E<sup>*</sup><sub>ab</sub> = 0.5 – 1.5 slightly noticeable color difference<br>
				&#916E<sup>*</sup><sub>ab</sub> = 1.5 – 3.0 noticeable color difference<br>
				&#916E<sup>*</sup><sub>ab</sub> = 3.0 – 6.0 considerable color difference<br>
				&#916E<sup>*</sup><sub>ab</sub> = 6.0 – 12.0 large color difference<br>
				&#916E<sup>*</sup><sub>ab</sub> > 12.0 extremely large color difference<br>
<br>
<b>Reference:</b>
Yang, Y.M., J. Yu, N., (2012). Color Image Quality Assessment Based on CIEDE2000. Advances in Multimedia 2012, 1-7.</p>		
</section>
