<html>
<head>
	<meta charset="utf-8">
    <meta name="Description" content="C.A.P.P.A.B.L.E. <sup>&#169;</sup>">
    <meta name="" content="">
    <meta name="">
	<title>C.A.P.P.A.B.L.E. &#169;</title>
	<style type="text/css" media="screen">
		html, body, div, header, footer, aside, nav, article, section	{ margin: 0; padding: 0; }
		header, footer, aside, nav, article, section	{ display: block; }
		body 			{ color: #333; font: 12px Helvetica, Arial, sans-serif; line-height: 18px; }
		h2				{ color: #333; }
		a				{ color: #337810; }
		p				{ margin: 0 0 18px; }
		#container		{ width: 760px; margin: 0 auto;}
		
		/* Header */
		header			{ background: #333; border-bottom: 2px solid #aaa; }
		header h1  	{ color: #fff; margin: 0 0 3px; padding: 24px 18px 0; }
		header p		{ color: #ccc; font-size: 11px; font-weight: bold; padding: 0 18px; }
		
		/* Content Style */
		nav		{ border-bottom: 1px solid #ccc; margin-right: 18px; }
		nav ul	{ padding: 0 18px 9px; }
		#extra			{ margin-left: 18px; }
		#extra small	{ font-size: 11px; line-height: 18px; }
		#content		{ border-bottom: 1px solid #ccc; margin-left: 18px; }
		#content p, #extra p { padding-right: 18px; }
		
		/* Content Positioning and Size */
		nav		{ float: right; width: 175px; }
		#content		{ float: left; width: 540px; }
		#extra			{ float: left; width: 540px; }		/* Footer */
		footer			{ background: #666; border-bottom: 2px solid #aaa; clear: left; width: 100%; }
		footer a		{ color: #fff; }
		footer	p		{ color: #ccc; margin: 0; padding: 0 18px 10px; }
		footer ul		{ border-bottom: 1px solid #999; list-style: none; margin: 0 18px 6px; padding: 10px 0 6px; }
		footer li		{ display: inline; font-size: 11px; font-weight: bold; padding-right: 5px; }
	</style>
	<!--[if IE]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="container">
		<header>
			<h1>C.A.P.P.A.B.L.E. <sup>&#169;</sup></h1>
			<p class="description">Anti-browning Apple Calculator 
			 <%= link_to image_tag("home2.png", size: "63x63", :border=>"0", :align=>"right"), '/', :alt=>"Home", :title=>"Home"%>
			</p>
		</header>
		<div id="wrapper">
			<section id="content">
				<h2>Modeling (predicting) browning of fresh-cut apples over the storage time: Changes of color influenced by various cultivars and anti-browning treatments</h2>
				<p><div align="justify">This study evaluated color change (&#916E<sup>*</sup><sub>ab</sub>) 
				of various apples cultivars (AC) (n=210): (i) Idared, (ii) Golden Delicious,
				(iii) Gala, (iv) Gloster, (v) Cripps Pink, (vi) Breaburn, and (vii) Fuji)
				 treated with different anti-browning treatments (ABT) (n=600): (i) ascorbic+citric acid; (ii) ascorbic acid + NaCl; (iii) ascorbic acid + CaCl<sub>2</sub>,
				  (iv) NaCl, (v) citric acid, and (vi) Ca-ascorbate). The best ABT were tested with or without ultrasound (n=192). 
				  The effectiveness of ABT was determined as negative effect on &#916E<sup>*</sup><sub>ab</sub> over storage time (ST). 
				  The best AC were Cripps Pink and Golden Delicious and the best tested ABT were Ca-ascorbate and ascorbic+citric acid. 
				  Results yielded 5 mathematical models for predicting: (i) browning of AC over ST with ABT; (ii) browning of AC over ST without ABT or different ABT); 
				  (iii) sensory evaluation of AC with ABT; (iv) soluble solids content, and (v) pH for different AC.
				   Mathematical equations/models can optimize engineering parameters for fresh-cutting (by identifying the best combination of AC, ABT, and longest ST that apples can have with acceptable sensory evaluation.
				    Application available at <b><a href="http://apple.pbf.hr">apple.pbf.hr</a></b> or <b><a href="http://31.147.204.87">31.147.204.87</a></b></div></p>

				<b>NON-TREATED APPLES: </b><a href="/apple/eq1">[1. Browning with storage time]</a><a href="/apple/eq2">[2. Soluble solids content]</a>   
				<a href="/apple/eq2">[3. pH]</a><BR>
				<b>TREATED APPLES: </b><a href="/apple/eq4">[4. Browning with storage time]</a><a href="/apple/eq5">[5. Sensory Evaluation]</a>


				</section>
		</div>

		<nav>			
			<h2><b>MODELS:</b></h2>
			<ul>
				<%= render('non_treated_apples') %>
				<%= render('treated_apples') %>
				
				<br>



				<%= link_to image_tag("BICRO.jpg", size: "199x39"), 'http://www.bicro.hr/en', :alt=>"Business Innovation Agency of the Republic of Croatia.", :title=>"Business Innovation Agency of the Republic of Croatia.", 
					:border=>"0" %>
				<br>
				<%= link_to image_tag("PBF.png",size:"102x72") , 'http://www.pbf.hr/en',  
				:alt=>"FFTB - University of Zagreb", :title=>"FFTB - University of Zagreb", :border=>"0"
				%> 
				
							
			</ul>
		</nav>
		<div id="wrapper">
			<section id="content">
				<h2>Modeling (predicting) shelf-life of fresh-cut apples packaged in modified atmosphere by food safety and quality</h2>
				<p><div align="justify">The purpose of this study was to predict/model shelf-life (SL)
				 for fresh-cut apples by their quality (derived cumulatively from texture, sensory evaluation, 
				 color, pH, and SSC), and microbial growth under industrial setting. Two apple cultivars (AC)
				  (Golden Delicious (GD) and Cripps Pink (CP) were treated with 5 anti-browning treatments (ABT)
				   and packed in modified atmosphere (TSL=4±2°C). Treatments were: (i) no treatment; (ii) ascorbic+citric acid; 
				   (iii) ultrasound (ascorbic+citric acid); (iv) Ca-ascorbate; and (v) ultrasound (Ca-ascorbate). Experimental
				    production facility had excellent production/hygienic standards (inferring from microbial analysis).
					 The CP was the most suitable AC for fresh-cut processing. All ABT showed equal performance under 
					 industrial settings with exception to 'no treatment' that negatively effected apple quality. 
					 Cumulatively, apple quality expressed as relative SL was successfully predicted by mathematical
					  equation with predictors: AC, ABT colorimetry, texture, sensory evaluation, pH, and SSC.
					   Estimated &#181;<sub>max</sub> (Enterobacteriacea) = 0.25±0.02 log CFUg-1 day-1 and &#181;<sub>max</sub> 
					   (Aerobic mesophilic bacteria) = 0.46±0.02 log CFU g-1 day-1. Maximal SL for AC treated with ABT was successfully 
					   predicted from 2 mathematical models/equation that assessed either foodborne safety hazard or food spoilage. 
					   All created mathematical models were incorporated to the on-line application 
					   ("Anti-browning Apple Calculator - C.A.P.P.A.B.L.E. <sup>&#169;</sup> ") that will serve to the food industry professionals and 
					   scientific community (<b><a href="http://apple.pbf.hr">apple.pbf.hr</a></b> or <b><a href="http://31.147.204.87">31.147.204.87</a></b>) in optimization of fresh-cut production. </b></div></p>
				
				<b>TREATED APPLES: </b><a href="/apple/st">[1. Fresh-cut apple shelf-life]</a>
				
				</section>
		</div>
		<div id="wrapper">
                  <section id="content">
                       <h2>Modeling browning of fresh-cut apples during storage in modified atmosphere packaging</h2>
                        <p><div align="justify">Objectives were to compare differences in color change (&#916E<sup>*</sup><sub>ab</sub>)
                                    over shelf-life (SL) for 2 apple cultivars (Golden Delicious, GD; Cripps Pink, CP) treated with
                                    5 antibrowning treatments (ABT) (no treatment; ascorbic+citric acid with/without ultrasound;
                                     Ca-ascorbate with/without ultrasound) in presence of normal or modified atmosphere (MA).
                                     Plus, to assess influences of respiration rates on &#916E<sup>*</sup><sub>ab</sub>
                                      for all combinations of cultivars and ABT.
                                     Original color of apples was better preserved in MA. The absence of ABT showed highest
                                     &#916E<sup>*</sup><sub>ab</sub>,
                                     while all ABT showed similar change in color regardless of MA application. Browning prevention of
                                     ascorbic+citric acid may be improved with application of ultrasound. Production of CO<sub>2</sub> oscillated
                                     with color change for both cultivars with different ABT. The GD will endure browning better than CP,
                                      while Ca-ascorbate is one of the best ABT. All created mathematical models are freely available in
                                       on-line simulation ("Anti-browning Apple Calculator - C.A.P.P.A.B.L.E.<sup>©</sup>"; <a href="http://apple.pbf.hr">apple.pbf.hr</a> or
                                       <a href="http://31.147.204.87">31.147.204.87</a>).</p>
          
                  <b>TREATED APPLES: </b><a href="/apple/r3eq1">[1. Modified vs. normal atmosphere]</a><a href="/apple/r3eq2">[2. Browning (CIELab) modified vs. normal atmosphere]</a>

			</section>
			</div>

		<div id="wrapper">
           <section id="content">
												<h2>Influence of respiration on predictive microbial growth of <i>Aerobic mesophilic bacteria and Enterobacteriaceae</i> in fresh-cut apples packaged under modified atmosphere)</h2>
                        <p><div align="justify">Objectives in this study were to model/predict simultaneous influences of
                        apple O<sub>2</sub>-consumption/CO<sub>2</sub>-production rates   and modified atmosphere packaging (MAP)
                          (from volumetric
                          concentrations of O<sub>2</sub>/CO<sub>2</sub> on microbial growth (<i>Aerobic mesophilic bacteria (AMB)</i>;
                         <i> Enterobacteriaceae (Ebac)</i>)
                           in 2 fresh-cut apple cultivars treated with 5 anti-browning treatments and stored in refrigerator.
                           Growth of both microorganisms was best predicted by length of shelf-life, With <i>AMB/EBac</i> growth,
                           cultivar's   decreased together withn in packaging. Similarly, with microbial growth
                              dropped, while simultaneously  increase was observed in package. Regression coefficients ratios
                                for <i>AMB</i>-respiration models are similar to ratios for stoichiometric coefficients for respiration
                                equation with malic acid as main substrate. Hence, presented models likely captured natural relations
                                between predictors, and gave good estimate of <i>AMB</i> growth and its association with respiration in MAP.
                                Apple browning had weak or no association with bacterial growth. Obtained models may be utilized to
                                optimize industrial parameters with least <i>AMB/Ebac</i> growth, hence facilitate extension of fresh-cut
                                apple self-life. Relationships between fresh-cut apples O<sub>2</sub>-consumption/CO<sub>2</sub>-production
                                rates, volumetric
                                concentrations of O<sub>2</sub>/CO<sub>2</sub> in modified atmosphere packaging and microbial growth <i>AMB/Ebac</i> were established and yielded mathematical models which may be utilized to optimize industrial parameters with least <i>AMB/Ebac</i> growth, hence facilitate extension of fresh-cut apple self-life. All equations and models are publicly accessible at <b><a href="http://apple.pbf.hr">apple.pbf.hr</a></b> or <b><a href="http://31.147.204.87">31.147.204.87</a></b>, and can be used to calculate almost every parameter relevant for apple respiration
                                and apple browning (only for permeable system). Additionally, users can choose their own production
                                settings (size of package, initial volumetric concentration of gases, apple mass), and calculate
                                optimal values (with least browning) for their fresh-cut processes (taking into account their
                                own packaging film and others). Therefore, results presented in this paper may have practical
                                applications for the fresh-cut industry.</p>
													<b>TREATED APPLES: </b><a href="/apple/r5eq14">[1. Microbial gwowth and modified atmosphere]</a>
						
			</section>
			</div>

			<div id="wrapper">
			<section id="content">
                                   <h2>Influence of modified atmosphere and microbiology on nutritive value in fresh-cut apples measured by content of biologically active compounds</h2>
                                   <div align="justify">The objective of this study was to mathematically model total phenolic content (TPC) from
                                   microbial growth (<i>Aerobic mesophilic bacteria</i> (<i>AMB</i>)) under modified atmosphere (from volumetric concentrations of O<sub>2</sub> / CO<sub>2</sub>; from O<sub>2</sub>-consumption / CO<sub>2</sub>-production rates) for 2 fresh-cut apple cultivars (AC) (Golden Delicious (GD); Cripps Pink (CP)), treated with 5 anti-browning treatments (ABT) (no treatment; ascorbic+citric acid; ultrasound+ascorbic+citric acid; Ca-ascorbate; and ultrasound+Ca-ascorbate). Cultivar CP had significantly more TPC than CP, and the least amount of TPC was observed in apples without treatment; other treatments yielded similar amounts of TPC. The AMB growth increased volumetric concentration of CO<sub>2</sub> in packages and decreased TPC, soluble solids content (SSC) volumetric concentration of O<sub>2</sub>, and apple O<sub>2</sub>-consumption rate. All mentioned is more expressed for cultivar GD then for CP as this AC had higher TPC content. The TPC increased if AC were treated with ultrasound+Ca-ascorbate, otherwise it decreased or remained unchanged (e.g. USND+(3 min)+Ascorbic+citric acid). It is calculated that color change (&#916E<sup>*</sup><sub>ab</sub>=3) derived from decrease of TPC becomes evident in 4.5 days with unaided human eye, but most browning occurred within 1<sup>st</sup> day. Average pH value for all experiments was pH=3.9±0.1 that slightly decreased over time (meaning that PPO activity was significantly impeded in all experiments and was not significant contributor to apple browning, therefore likely remaining source of AC browning may be non-enzymatic browning). Our models captured stoichiometric/enzymatic O<sub>2</sub>/phenol association for apple respiration embedded in process of bacterial growth in fresh-cut apples in MAP. Hence, they likely captured natural relations between predictors, and gave good estimate of TPC change due to microbial growth and its association with AC respiration in MAP. Equations may be utilized to optimize industrial parameters with least <i>AMB</i> growth, and optimal MAP parameters, hence facilitate extension of fresh-cut apple SL. Models were incorporated in free on-line application ("Anti-browning Apple Calculator - C.A.P.P.A.B.L.E.<sup>©</sup>") at <b><a href="http://apple.pbf.hr">apple.pbf.hr</a></b> or <b><a href="http://31.147.204.87">31.147.204.87</a></b>.</p></div>

                                   <b>TREATED APPLES: </b><a href="/apple/r6eq1">[1. Change of phenolic content under modified atmosphere]</a>
                                  
                  </section>
                  </div>




		<section id="extra">
			<h2><b><u><font size="-1">TO REFERENCE THE C.A.P.P.A.B.L.E. <sup>&#169;</sup> PLEASE USE A CITATION OF THE FORM:</font></u></b></h2>
			<p><div align="justify">Pizent, G., Putnik, P., Bursac Kovacevc, D., Herceg, K., Levaj, B., (2014). Anti-browning Apple Calculator - C.A.P.P.A.B.L.E. <sup>&#169;</sup>: http://<a href="http://apple.pbf.hr">apple.pbf.hr</a> (IP: <a href="http://31.147.204.87">31.147.204.87</a>), 1.0 ed, Faculty of Food Technology and Biotechnology, University in Zagreb.<BR>
			
			<h2><b><u><font size="-1">ACKNOWLEDGMENTS:</font></u></b></h2>
			
			<i>This work is made possible through the help and support from Business Innovation Croatian Agency - BICRO Poc4_01_43-U-1.</i></div></p>

			
		</section>
