

<h2>Total anthocyans content calculator </h2>
<h2>for different strawberry cultivars</h2>

<img src="/assets/jagoda_small.jpeg"><br>
<b>TAC – total anthocyans content</b>

<%= form_tag('/jagode/') %>
<br>
Strawberry cultivars
<br>
<%= radio_button_tag(:sorta, value = "1", checked = true, options = {})  %>
<%= label_tag('Elsanta or Maya') %>

<br>
<%= radio_button_tag(:sorta, value = "0", checked = false, options = {})  %> 
<%= label_tag('Marmolada or Queen Elisa') %>

<br>
---
<br>
Strawberry form
<br>
<%= radio_button_tag(:tip, value = "1", checked = true, options = {})  %>
<%= label_tag('fresh strawberry') %>

<br>
<%= radio_button_tag(:tip, value = "0", checked = false, options = {})  %> 
<%= label_tag('Jam') %>

<br>
---
<br>

<br>

<%= label_tag(:CIELABA,"CIELAB coordinate 'a'") %>
<%= text_field_tag(:param_a) %>
<br>
<%= label_tag(:CIELABB,"CIELAB coordinate 'b'") %>
<%= text_field_tag(:param_b) %>
<br>

<%= submit_tag('Calculate') %>

<br>
<% unless @rezultat.nil? %>

<div style="color:red">
<%= label_tag('TAC[mg/100g]: ') %> <%= @rezultat  %>
</div>

<br>
<% end %>
