<!DOCTYPE html>
<html>
<head>
  <title>CAPPABLE</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Anti-browning Apple Calculator – CAPPABLE</h1>
<%= link_to image_tag("apple.jpg",  size: "470x300"), "http://apple.pbf.hr" %> 
<br>

<%= yield %>


<%= link_to image_tag("team_members.jpeg",  size: "250x150"), 'http://apple.pbf.hr/apple/team_members' %> 
<%= link_to image_tag("pbf.jpg") , 'http://www.pbf.hr'%> 
<%= link_to image_tag("bicro.jpg", size: "320x120"), 'http://www.bicro.hr' %>

</body>
</html>
